In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Import 2016 CSV
df_15 = pd.read_csv("2015_Top30zipcodes.csv")

#Remove random column
df_2015 = df_15[['Zip Code','Mean', 'Median']]
df_2015

    Zip Code        Mean  Median
0      11211  150.991682   129.0
1      10002  182.400477   150.0
2      10009  177.778549   150.0
3      10003  220.328891   180.0
4      11206  102.391970    80.0
5      11238  144.082211   120.0
6      11221   95.713076    75.0
7      10011  242.854346   200.0
8      11216  111.900207    90.0
9      10014  252.500823   210.0
10     10019  229.525049   189.0
11     10025  183.937929   145.0
12     10012  255.219760   200.0
13     11222  140.432536   120.0
14     11237   91.916442    75.0
15     10036  218.437125   175.0
16     10016  237.572914   185.0
17     11215  162.932613   139.0
18     11249  176.330328   140.0
19     10031  104.395633    80.0
20     10027  128.709048   110.0
21     11205  165.375414   115.0
22     10029  126.461440   100.0
23     11217  165.974973   140.0
24     10023  234.262821   190.0
25     10024  205.716110   175.0
26     11201  180.651959   155.0
27     10128  184.365154   150.0
28     11226   92.680582    75.0
29     10013  294.459468   185.0

In [14]:
#Merge 2015 and 2016
df_1516 = pd.merge(df_2015, df_2016, on="Zip Code", how="outer", suffixes=("_2015", "_2016"))
df_1516

    Zip Code   Mean_2015  Median_2015   Mean_2016  Median_2016
0      11211  150.991682        129.0  143.768193        119.0
1      10002  182.400477        150.0  168.815366        135.0
2      10009  177.778549        150.0  165.071030        135.0
3      10003  220.328891        180.0  218.895993        169.0
4      11206  102.391970         80.0   94.994238         75.0
5      11238  144.082211        120.0  138.259867        106.0
6      11221   95.713076         75.0   89.587325         70.0
7      10011  242.854346        200.0  225.796276        199.0
8      11216  111.900207         90.0  110.022522         85.0
9      10014  252.500823        210.0  239.303179        200.0
10     10019  229.525049        189.0  215.508512        175.0
11     10025  183.937929        145.0  158.431274        119.0
12     10012  255.219760        200.0  230.587597        190.0
13     11222  140.432536        120.0  128.623164        109.0
14     11237   91.916442         75.0   86.114981         69.0
15     10036  218.437125        175.0  212.077208        165.0
16     10016  237.572914        185.0  214.245595        175.0
17     11215  162.932613        139.0  150.024911        130.0
18     11249  176.330328        140.0  172.929537        130.0
19     10031  104.395633         80.0   99.883374         75.0
20     10027  128.709048        110.0  121.078350        100.0
21     11205  165.375414        115.0  154.145494        100.0
22     10029  126.461440        100.0  127.426550        100.0
23     11217  165.974973        140.0  164.352042        130.0
24     10023  234.262821        190.0  223.957771        180.0
25     10024  205.716110        175.0  199.247779        165.0
26     11201  180.651959        155.0  166.963918        150.0
27     10128  184.365154        150.0         NaN          NaN
28     11226   92.680582         75.0   84.754190         70.0
29     10013  294.459468        185.0         NaN          NaN
30     11225         NaN          NaN   94.748649         80.0
31     11233         NaN          NaN  105.371874         95.0

In [13]:
#Import 2016 CSV
df_16 = pd.read_csv("2016_Top30zipcodes.csv")

#Remove random column
df_2016 = df_16[['Zip Code','Mean', 'Median']]
df_2016

    Zip Code        Mean  Median
0      11211  143.768193   119.0
1      10002  168.815366   135.0
2      11206   94.994238    75.0
3      10009  165.071030   135.0
4      11221   89.587325    70.0
5      10003  218.895993   169.0
6      11238  138.259867   106.0
7      11216  110.022522    85.0
8      11222  128.623164   109.0
9      10025  158.431274   119.0
10     10019  215.508512   175.0
11     10011  225.796276   199.0
12     11237   86.114981    69.0
13     10012  230.587597   190.0
14     10014  239.303179   200.0
15     10036  212.077208   165.0
16     10031   99.883374    75.0
17     11215  150.024911   130.0
18     10027  121.078350   100.0
19     10016  214.245595   175.0
20     10029  127.426550   100.0
21     11249  172.929537   130.0
22     11205  154.145494   100.0
23     11217  164.352042   130.0
24     11225   94.748649    80.0
25     11226   84.754190    70.0
26     11233  105.371874    95.0
27     10023  223.957771   180.0
28     10024  199.247779   165.0
29     11201  166.963918   150.0

In [15]:
#Import 2017 CSV
df_2017 = pd.read_csv('2017_Top30codes')
df_2017

    Zip Code        Mean  Median
0      11211  145.759296   113.0
1      11221   88.334267    69.0
2      11206   94.821426    75.0
3      11216  107.358035    85.0
4      10002  174.141667   129.0
5      10009  166.544186   135.0
6      11238  135.210127   100.0
7      10003  220.491229   160.0
8      11222  124.135188   100.0
9      10019  215.059272   170.0
10     11237   80.728763    65.0
11     10025  166.183255   110.0
12     10011  225.691729   195.0
13     10031   95.558082    75.0
14     10027  135.229297   100.0
15     11215  144.884473   129.0
16     10036  213.932102   168.0
17     10029  129.885366    98.0
18     10014  244.652423   200.0
19     10012  224.176746   185.0
20     11249  170.654236   135.0
21     11205  140.440341    99.0
22     11233  100.719001    80.0
23     10016  215.009782   170.0
24     11225   95.294381    80.0
25     11226   85.103783    69.0
26     11217  163.994170   130.0
27     11201  174.439658   145.0
28     10032   92.665028    70.0
29     10023  219.792201   182.0

In [41]:
#Merge 2015/2016 with 2017
df_151617 = pd.merge(df_1516, df_2017, on="Zip Code", how="outer")
df_151617.rename(columns={'Mean': 'Mean_2017', 'Median': 'Median_2017'})

,Zip Code,Mean_2015,Median_2015,Mean_2016,Median_2016,Mean_2017,Median_2017
0,11211,150.991682,129.0,143.768193,119.0,145.759296,113.0
1,10002,182.400477,150.0,168.815366,135.0,174.141667,129.0
2,10009,177.778549,150.0,165.071030,135.0,166.544186,135.0
3,10003,220.328891,180.0,218.895993,169.0,220.491229,160.0
4,11206,102.391970,80.0,94.994238,75.0,94.821426,75.0
5,11238,144.082211,120.0,138.259867,106.0,135.210127,100.0
6,11221,95.713076,75.0,89.587325,70.0,88.334267,69.0
7,10011,242.854346,200.0,225.796276,199.0,225.691729,195.0
8,11216,111.900207,90.0,110.022522,85.0,107.358035,85.0
9,10014,252.500823,210.0,239.303179,200.0,244.652423,200.0
10,10019,229.525049,189.0,215.508512,175.0,215.059272,170.0
11,10025,183.937929,145.0,158.431274,119.0,166.183255,110.0
12,10012,255.219760,200.0,230.587597,190.0,224.176746,185.0
13,11222,140.432536,120.0,128.623164,109.0,124.135188,100.0
14,11237,91.916442,75.0,86.114981,69.0,80.728763,65.0
15,10036,218.437125,175.0,212.077208,165.0,213.932102,168.0
16,10016,237.572914,185.0,214.245595,175.0,215.009782,170.0
17,11215,162.932613,139.0,150.024911,130.0,144.884473,129.0
18,11249,176.330328,140.0,172.929537,130.0,170.654236,135.0
19,10031,104.395633,80.0,99.883374,75.0,95.558082,75.0
20,10027,128.709048,110.0,121.078350,100.0,135.229297,100.0
21,11205,165.375414,115.0,154.145494,100.0,140.440341,99.0
22,10029,126.461440,100.0,127.426550,100.0,129.885366,98.0
23,11217,165.974973,140.0,164.352042,130.0,163.994170,130.0
24,10023,234.262821,190.0,223.957771,180.0,219.792201,182.0
25,10024,205.716110,175.0,199.247779,165.0,NaN,NaN
26,11201,180.651959,155.0,166.963918,150.0,174.439658,145.0
27,10128,184.365154,150.0,NaN,NaN,NaN,NaN
28,11226,92.680582,75.0,84.754190,70.0,85.103783,69.0
29,10013,294.459468,185.0,NaN,NaN,NaN,NaN
30,11225,NaN,NaN,94.748649,80.0,95.294381,80.0
31,11233,NaN,NaN,105.371874,95.0,100.719001,80.0
32,10032,NaN,NaN,NaN,NaN,92.665028,70.0

In [23]:
#Import 2018 CSV
df_2018 = pd.read_csv('2018_Top30zipcodes.csv')
df_2018

,zipcode,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date
0,11211,28747,28711,28747,28704,28747,28747,28747,28747,28747,28747,28747,28747,22994,22973,28747,28747,28747
1,11221,21723,21711,21723,21712,21723,21723,21723,21723,21723,21723,21723,21723,17723,17711,21723,21723,21723
2,11206,18448,18437,18448,18418,18448,18448,18448,18448,18448,18448,18448,18448,14455,14444,18448,18448,18448
3,11216,16506,16506,16506,16485,16506,16506,16506,16506,16506,16506,16506,16506,13207,13201,16506,16506,16506
4,10002,16058,16046,16058,16040,16058,16058,16058,16058,16058,16058,16058,16058,13146,13136,16058,16058,16058
5,10019,15162,15124,15162,15151,15162,15162,15162,15162,15162,15162,15162,15162,11157,11149,15162,15162,15162
6,10009,14926,14926,14926,14915,14926,14926,14926,14926,14926,14926,14926,14926,12284,12276,14926,14926,14926
7,11238,14689,14689,14689,14662,14689,14689,14689,14689,14689,14689,14689,14689,11997,11986,14689,14689,14689
8,10003,14217,14193,14217,14208,14217,14217,14217,14217,14217,14217,14217,14217,11086,11078,14217,14217,14217
9,11222,13760,13756,13760,13749,13760,13760,13760,13760,13760,13760,13760,13760,10601,10590,13760,13760,13760
10,10025,13206,13183,13206,13197,13206,13206,13206,13206,13206,13206,13206,13206,9706,9698,13206,13206,13206
11,11237,12892,12891,12892,12881,12892,12892,12892,12892,12892,12892,12892,12892,9945,9938,12892,12892,12892
12,10036,11161,11161,11161,11155,11161,11161,11161,11161,11161,11161,11161,11161,8676,8674,11161,11161,11161
13,11215,11134,11134,11134,11126,11134,11134,11134,11134,11134,11134,11134,11134,9015,9008,11134,11134,11134
14,10027,10773,10773,10773,10763,10773,10773,10773,10773,10773,10773,10773,10773,8686,8676,10773,10773,10773
15,10016,10730,10730,10730,10723,10730,10730,10730,10730,10730,10730,10730,10730,7838,7835,10730,10730,10730
16,10031,10718,10718,10718,10710,10718,10718,10718,10718,10718,10718,10718,10718,8532,8524,10718,10718,10718
17,10011,10663,10663,10663,10660,10663,10663,10663,10663,10663,10663,10663,10663,8652,8647,10663,10663,10663
18,11249,10095,10087,10095,10065,10095,10095,10095,10095,10095,10095,10095,10095,7921,7914,10095,10095,10095
19,11233,10034,10034,10034,10026,10034,10034,10034,10034,10034,10034,10034,10034,8503,8498,10034,10034,10034
20,10012,9830,9818,9830,9825,9830,9830,9830,9830,9830,9830,9830,9830,7821,7817,9830,9830,9830
21,10014,9556,9556,9556,9554,9556,9556,9556,9556,9556,9556,9556,9556,7642,7638,9556,9556,9556
22,10029,9387,9387,9387,9374,9387,9387,9387,9387,9387,9387,9387,9387,7975,7968,9387,9387,9387
23,11205,8986,8986,8986,8980,8986,8986,8986,8986,8986,8986,8986,8986,7208,7204,8986,8986,8986
24,11226,8368,8368,8368,8363,8368,8368,8368,8368,8368,8368,8368,8368,6653,6646,8368,8368,8368
25,11225,7938,7938,7938,7932,7938,7938,7938,7938,7938,7938,7938,7938,6333,6329,7938,7938,7938
26,11217,7225,7225,7225,7217,7225,7225,7225,7225,7225,7225,7225,7225,5888,5882,7225,7225,7225
27,11213,6482,6482,6482,6471,6482,6482,6482,6482,6482,6482,6482,6482,5073,5070,6482,6482,6482
28,10023,6389,6386,6389,6386,6389,6389,6389,6389,6389,6389,6389,6389,4897,4895,6389,6389,6389
29,10024,6386,6386,6386,6375,6386,6386,6386,6386,6386,6386,6386,6386,5088,5086,6386,6386,6386

In [32]:
#Add 2nd column of price
df_2018["PriceM"] = df_2018["price"]

#Add Mean & Median/ Create DF
df_2018z = df_2018.groupby(['zipcode']).agg({'price':'median','PriceM': 'mean'}).rename(columns = {'price': 'Median', 'PriceM': 'Mean'}).reset_index()

df_2018z.head()

   zipcode  Median   Mean
0    10002   16058  16058
1    10003   14217  14217
2    10009   14926  14926
3    10011   10663  10663
4    10012    9830   9830