In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Import 2016 CSV
df_15 = pd.read_csv("2015_Top30zipcodes.csv")

#Remove random column
df_2015 = df_15[['Zip Code','Mean', 'Median']]
df_2015

    Zip Code        Mean  Median
0      11211  150.991682   129.0
1      10002  182.400477   150.0
2      10009  177.778549   150.0
3      10003  220.328891   180.0
4      11206  102.391970    80.0
5      11238  144.082211   120.0
6      11221   95.713076    75.0
7      10011  242.854346   200.0
8      11216  111.900207    90.0
9      10014  252.500823   210.0
10     10019  229.525049   189.0
11     10025  183.937929   145.0
12     10012  255.219760   200.0
13     11222  140.432536   120.0
14     11237   91.916442    75.0
15     10036  218.437125   175.0
16     10016  237.572914   185.0
17     11215  162.932613   139.0
18     11249  176.330328   140.0
19     10031  104.395633    80.0
20     10027  128.709048   110.0
21     11205  165.375414   115.0
22     10029  126.461440   100.0
23     11217  165.974973   140.0
24     10023  234.262821   190.0
25     10024  205.716110   175.0
26     11201  180.651959   155.0
27     10128  184.365154   150.0
28     11226   92.680582    75.0
29     10013  294.459468   185.0

In [3]:
#Import 2016 CSV
df_16 = pd.read_csv("2016_Top30zipcodes.csv")

#Remove random column
df_2016 = df_16[['Zip Code','Mean', 'Median']]
df_2016

    Zip Code        Mean  Median
0      11211  143.768193   119.0
1      10002  168.815366   135.0
2      11206   94.994238    75.0
3      10009  165.071030   135.0
4      11221   89.587325    70.0
5      10003  218.895993   169.0
6      11238  138.259867   106.0
7      11216  110.022522    85.0
8      11222  128.623164   109.0
9      10025  158.431274   119.0
10     10019  215.508512   175.0
11     10011  225.796276   199.0
12     11237   86.114981    69.0
13     10012  230.587597   190.0
14     10014  239.303179   200.0
15     10036  212.077208   165.0
16     10031   99.883374    75.0
17     11215  150.024911   130.0
18     10027  121.078350   100.0
19     10016  214.245595   175.0
20     10029  127.426550   100.0
21     11249  172.929537   130.0
22     11205  154.145494   100.0
23     11217  164.352042   130.0
24     11225   94.748649    80.0
25     11226   84.754190    70.0
26     11233  105.371874    95.0
27     10023  223.957771   180.0
28     10024  199.247779   165.0
29     11201  166.963918   150.0

In [4]:
#Merge 2015 and 2016
df_1516 = pd.merge(df_2015, df_2016, on="Zip Code", how="outer", suffixes=("_2015", "_2016"))
df_1516

    Zip Code   Mean_2015  Median_2015   Mean_2016  Median_2016
0      11211  150.991682        129.0  143.768193        119.0
1      10002  182.400477        150.0  168.815366        135.0
2      10009  177.778549        150.0  165.071030        135.0
3      10003  220.328891        180.0  218.895993        169.0
4      11206  102.391970         80.0   94.994238         75.0
5      11238  144.082211        120.0  138.259867        106.0
6      11221   95.713076         75.0   89.587325         70.0
7      10011  242.854346        200.0  225.796276        199.0
8      11216  111.900207         90.0  110.022522         85.0
9      10014  252.500823        210.0  239.303179        200.0
10     10019  229.525049        189.0  215.508512        175.0
11     10025  183.937929        145.0  158.431274        119.0
12     10012  255.219760        200.0  230.587597        190.0
13     11222  140.432536        120.0  128.623164        109.0
14     11237   91.916442         75.0   86.114981         69.0
15     10036  218.437125        175.0  212.077208        165.0
16     10016  237.572914        185.0  214.245595        175.0
17     11215  162.932613        139.0  150.024911        130.0
18     11249  176.330328        140.0  172.929537        130.0
19     10031  104.395633         80.0   99.883374         75.0
20     10027  128.709048        110.0  121.078350        100.0
21     11205  165.375414        115.0  154.145494        100.0
22     10029  126.461440        100.0  127.426550        100.0
23     11217  165.974973        140.0  164.352042        130.0
24     10023  234.262821        190.0  223.957771        180.0
25     10024  205.716110        175.0  199.247779        165.0
26     11201  180.651959        155.0  166.963918        150.0
27     10128  184.365154        150.0         NaN          NaN
28     11226   92.680582         75.0   84.754190         70.0
29     10013  294.459468        185.0         NaN          NaN
30     11225         NaN          NaN   94.748649         80.0
31     11233         NaN          NaN  105.371874         95.0

In [5]:
#Import 2017 CSV
df_2017 = pd.read_csv('2017_Top30codes')
df_2017

    Zip Code        Mean  Median
0      11211  145.759296   113.0
1      11221   88.334267    69.0
2      11206   94.821426    75.0
3      11216  107.358035    85.0
4      10002  174.141667   129.0
5      10009  166.544186   135.0
6      11238  135.210127   100.0
7      10003  220.491229   160.0
8      11222  124.135188   100.0
9      10019  215.059272   170.0
10     11237   80.728763    65.0
11     10025  166.183255   110.0
12     10011  225.691729   195.0
13     10031   95.558082    75.0
14     10027  135.229297   100.0
15     11215  144.884473   129.0
16     10036  213.932102   168.0
17     10029  129.885366    98.0
18     10014  244.652423   200.0
19     10012  224.176746   185.0
20     11249  170.654236   135.0
21     11205  140.440341    99.0
22     11233  100.719001    80.0
23     10016  215.009782   170.0
24     11225   95.294381    80.0
25     11226   85.103783    69.0
26     11217  163.994170   130.0
27     11201  174.439658   145.0
28     10032   92.665028    70.0
29     10023  219.792201   182.0

In [6]:
#Merge 2015/2016 with 2017
df_151617 = pd.merge(df_1516, df_2017, on="Zip Code", how="outer")
df_151617
#df_151617.rename(columns={'Mean': 'Mean_2017', 'Median': 'Median_2017'})

,Zip Code,Mean_2015,Median_2015,Mean_2016,Median_2016,Mean,Median
0,11211,150.991682,129.0,143.768193,119.0,145.759296,113.0
1,10002,182.400477,150.0,168.815366,135.0,174.141667,129.0
2,10009,177.778549,150.0,165.071030,135.0,166.544186,135.0
3,10003,220.328891,180.0,218.895993,169.0,220.491229,160.0
4,11206,102.391970,80.0,94.994238,75.0,94.821426,75.0
5,11238,144.082211,120.0,138.259867,106.0,135.210127,100.0
6,11221,95.713076,75.0,89.587325,70.0,88.334267,69.0
7,10011,242.854346,200.0,225.796276,199.0,225.691729,195.0
8,11216,111.900207,90.0,110.022522,85.0,107.358035,85.0
9,10014,252.500823,210.0,239.303179,200.0,244.652423,200.0
10,10019,229.525049,189.0,215.508512,175.0,215.059272,170.0
11,10025,183.937929,145.0,158.431274,119.0,166.183255,110.0
12,10012,255.219760,200.0,230.587597,190.0,224.176746,185.0
13,11222,140.432536,120.0,128.623164,109.0,124.135188,100.0
14,11237,91.916442,75.0,86.114981,69.0,80.728763,65.0
15,10036,218.437125,175.0,212.077208,165.0,213.932102,168.0
16,10016,237.572914,185.0,214.245595,175.0,215.009782,170.0
17,11215,162.932613,139.0,150.024911,130.0,144.884473,129.0
18,11249,176.330328,140.0,172.929537,130.0,170.654236,135.0
19,10031,104.395633,80.0,99.883374,75.0,95.558082,75.0
20,10027,128.709048,110.0,121.078350,100.0,135.229297,100.0
21,11205,165.375414,115.0,154.145494,100.0,140.440341,99.0
22,10029,126.461440,100.0,127.426550,100.0,129.885366,98.0
23,11217,165.974973,140.0,164.352042,130.0,163.994170,130.0
24,10023,234.262821,190.0,223.957771,180.0,219.792201,182.0
25,10024,205.716110,175.0,199.247779,165.0,NaN,NaN
26,11201,180.651959,155.0,166.963918,150.0,174.439658,145.0
27,10128,184.365154,150.0,NaN,NaN,NaN,NaN
28,11226,92.680582,75.0,84.754190,70.0,85.103783,69.0
29,10013,294.459468,185.0,NaN,NaN,NaN,NaN
30,11225,NaN,NaN,94.748649,80.0,95.294381,80.0
31,11233,NaN,NaN,105.371874,95.0,100.719001,80.0
32,10032,NaN,NaN,NaN,NaN,92.665028,70.0

In [7]:
#Import 2018 CSV
df_18 = pd.read_csv('2018_Top30zipcodes_edited.csv')

#Remove random column
df_2018 = df_18[['Zip Code','Mean', 'Median']]
df_2018

df_2018

    Zip Code        Mean  Median
0      11211  146.840053   110.0
1      11221   87.629931    68.0
2      11206   96.825835    75.0
3      11216  110.636435    85.0
4      10002  171.128160   130.0
5      10019  228.574660   180.0
6      10009  170.691880   140.0
7      11238  137.844509   105.0
8      10003  223.038827   169.0
9      11222  135.671584   109.5
10     10025  166.790625   110.0
11     11237   79.219594    65.0
12     10036  215.999462   170.0
13     11215  147.097090   129.0
14     10027  135.707510   100.0
15     10016  219.999161   175.0
16     10031   98.003266    75.0
17     10011  235.382632   190.0
18     11249  168.045567   135.0
19     11233   99.172214    80.0
20     10012  226.860020   185.0
21     10014  256.992884   200.0
22     10029  140.572068    95.0
23     11205  140.647674    99.0
24     11226   85.033461    69.0
25     11225  100.770975    83.0
26     11217  162.188512   130.0
27     11213  109.699475    77.0
28     10023  219.262169   180.0
29     10024  195.559349   159.0

In [8]:
#Merge 2015/2016/2017 with 2018
df_15161718 = pd.merge(df_151617, df_2018, on="Zip Code", how="outer", suffixes=("_2017","_2018"))
df_15161718

,Zip Code,Mean_2015,Median_2015,Mean_2016,Median_2016,Mean_2017,Median_2017,Mean_2018,Median_2018
0,11211,150.991682,129.0,143.768193,119.0,145.759296,113.0,146.840053,110.0
1,10002,182.400477,150.0,168.815366,135.0,174.141667,129.0,171.128160,130.0
2,10009,177.778549,150.0,165.071030,135.0,166.544186,135.0,170.691880,140.0
3,10003,220.328891,180.0,218.895993,169.0,220.491229,160.0,223.038827,169.0
4,11206,102.391970,80.0,94.994238,75.0,94.821426,75.0,96.825835,75.0
5,11238,144.082211,120.0,138.259867,106.0,135.210127,100.0,137.844509,105.0
6,11221,95.713076,75.0,89.587325,70.0,88.334267,69.0,87.629931,68.0
7,10011,242.854346,200.0,225.796276,199.0,225.691729,195.0,235.382632,190.0
8,11216,111.900207,90.0,110.022522,85.0,107.358035,85.0,110.636435,85.0
9,10014,252.500823,210.0,239.303179,200.0,244.652423,200.0,256.992884,200.0
10,10019,229.525049,189.0,215.508512,175.0,215.059272,170.0,228.574660,180.0
11,10025,183.937929,145.0,158.431274,119.0,166.183255,110.0,166.790625,110.0
12,10012,255.219760,200.0,230.587597,190.0,224.176746,185.0,226.860020,185.0
13,11222,140.432536,120.0,128.623164,109.0,124.135188,100.0,135.671584,109.5
14,11237,91.916442,75.0,86.114981,69.0,80.728763,65.0,79.219594,65.0
15,10036,218.437125,175.0,212.077208,165.0,213.932102,168.0,215.999462,170.0
16,10016,237.572914,185.0,214.245595,175.0,215.009782,170.0,219.999161,175.0
17,11215,162.932613,139.0,150.024911,130.0,144.884473,129.0,147.097090,129.0
18,11249,176.330328,140.0,172.929537,130.0,170.654236,135.0,168.045567,135.0
19,10031,104.395633,80.0,99.883374,75.0,95.558082,75.0,98.003266,75.0
20,10027,128.709048,110.0,121.078350,100.0,135.229297,100.0,135.707510,100.0
21,11205,165.375414,115.0,154.145494,100.0,140.440341,99.0,140.647674,99.0
22,10029,126.461440,100.0,127.426550,100.0,129.885366,98.0,140.572068,95.0
23,11217,165.974973,140.0,164.352042,130.0,163.994170,130.0,162.188512,130.0
24,10023,234.262821,190.0,223.957771,180.0,219.792201,182.0,219.262169,180.0
25,10024,205.716110,175.0,199.247779,165.0,NaN,NaN,195.559349,159.0
26,11201,180.651959,155.0,166.963918,150.0,174.439658,145.0,NaN,NaN
27,10128,184.365154,150.0,NaN,NaN,NaN,NaN,NaN,NaN
28,11226,92.680582,75.0,84.754190,70.0,85.103783,69.0,85.033461,69.0
29,10013,294.459468,185.0,NaN,NaN,NaN,NaN,NaN,NaN
30,11225,NaN,NaN,94.748649,80.0,95.294381,80.0,100.770975,83.0
31,11233,NaN,NaN,105.371874,95.0,100.719001,80.0,99.172214,80.0
32,10032,NaN,NaN,NaN,NaN,92.665028,70.0,NaN,NaN
33,11213,NaN,NaN,NaN,NaN,NaN,NaN,109.699475,77.0

In [9]:
df_15161718.to_csv('Merged_Top30codes.csv', index=False)

In [10]:
#Create DF for the selected zipcodes
final30 = pd.read_csv('Final_Trending_Zipcodes.csv')
final30

,Zip Codes,Borough,Neighborhood,Mean_2015,Median_2015,Mean_2016,Median_2016,Mean_2017,Median_2017,Mean_2018,Median_2018
0,11206,Brooklyn,Bushwick and Williamsburg,102.391970,80,94.994238,75,94.821426,75,96.825835,75.0
1,11221,Brooklyn,Bushwick and Williamsburg,95.713076,75,89.587325,70,88.334267,69,87.629931,68.0
2,11237,Brooklyn,Bushwick and Williamsburg,91.916442,75,86.114981,69,80.728763,65,79.219594,65.0
3,11216,Brooklyn,Central Brooklyn,111.900207,90,110.022522,85,107.358035,85,110.636435,85.0
4,11238,Brooklyn,Central Brooklyn,144.082211,120,138.259867,106,135.210127,100,137.844509,105.0
5,10027,Manhattan,Central Harlem,128.709048,110,121.078350,100,135.229297,100,135.707509,100.0
6,10011,Manhattan,Chelsea and Clinton,242.854346,200,225.796277,199,225.691729,195,235.382632,190.0
7,10019,Manhattan,Chelsea and Clinton,229.525049,189,215.508512,175,215.059272,170,228.574660,180.0
8,10036,Manhattan,Chelsea and Clinton,218.437125,175,212.077208,165,213.932102,168,215.999462,170.0
9,10029,Manhattan,East Harlem,126.461440,100,127.426550,100,129.885366,98,140.572068,95.0
10,11226,Brooklyn,Flatbush,92.680582,75,84.754190,70,85.103783,69,85.033461,69.0
11,10016,Manhattan,Gramercy Park and Murray Hill,237.572914,185,214.245595,175,215.009782,170,219.999161,175.0
12,11211,Brooklyn,Greenpoint,150.991682,129,143.768193,119,145.759296,113,146.840053,110.0
13,11222,Brooklyn,Greenpoint,140.432536,120,128.623164,109,124.135188,100,135.671584,109.5
14,10012,Manhattan,Greenwich Village and Soho,255.219760,200,230.587597,190,224.176746,185,226.860020,185.0
15,10014,Manhattan,Greenwich Village and Soho,252.500823,210,239.303179,200,244.652423,200,256.992884,200.0
16,10031,Manhattan,Inwood and Washington Heights,104.395633,80,99.883374,75,95.558082,75,98.003266,75.0
17,10002,Manhattan,Lower East Side,182.400477,150,168.815366,135,174.141667,129,171.128160,130.0
18,10003,Manhattan,Lower East Side,220.328891,180,218.895993,169,220.491229,160,223.038827,169.0
19,10009,Manhattan,Lower East Side,177.778549,150,165.071030,135,166.544186,135,170.691880,140.0
20,11205,Brooklyn,Northwest Brooklyn,165.375414,115,154.145494,100,140.440341,99,140.647674,99.0
21,11215,Brooklyn,Northwest Brooklyn,162.932613,139,150.024912,130,144.884473,129,147.097090,129.0
22,11217,Brooklyn,Northwest Brooklyn,165.974973,140,164.352042,130,163.994170,130,162.188512,130.0
23,10023,Manhattan,Upper West Side,234.262821,190,223.957771,180,219.792201,182,219.262169,180.0
24,10025,Manhattan,Upper West Side,183.937928,145,158.431274,119,166.183255,110,166.790625,110.0
25,11233,Brooklyn,Central Brooklyn,0.000000,0,105.371874,95,100.719001,80,99.172214,80.0
26,11225,Brooklyn,Flatbush,0.000000,0,94.748649,80,95.294381,80,100.770975,83.0
27,11201,Brooklyn,Northwest Brooklyn,180.651959,155,166.963918,150,174.439658,145,0.000000,0.0
28,10024,Manhattan,Upper West Side,205.716110,175,199.247779,165,0.000000,0,195.559349,159.0

In [11]:
hood = final30[['Neighborhood']]
hood

                     Neighborhood
0       Bushwick and Williamsburg
1       Bushwick and Williamsburg
2       Bushwick and Williamsburg
3                Central Brooklyn
4                Central Brooklyn
5                  Central Harlem
6             Chelsea and Clinton
7             Chelsea and Clinton
8             Chelsea and Clinton
9                     East Harlem
10                       Flatbush
11  Gramercy Park and Murray Hill
12                     Greenpoint
13                     Greenpoint
14     Greenwich Village and Soho
15     Greenwich Village and Soho
16  Inwood and Washington Heights
17                Lower East Side
18                Lower East Side
19                Lower East Side
20             Northwest Brooklyn
21             Northwest Brooklyn
22             Northwest Brooklyn
23                Upper West Side
24                Upper West Side
25               Central Brooklyn
26                       Flatbush
27             Northwest Brooklyn
28                Upper West Side

In [17]:
hood.drop_duplicates(subset=['Neighborhood'])

                     Neighborhood
0       Bushwick and Williamsburg
3                Central Brooklyn
5                  Central Harlem
6             Chelsea and Clinton
9                     East Harlem
10                       Flatbush
11  Gramercy Park and Murray Hill
12                     Greenpoint
14     Greenwich Village and Soho
16  Inwood and Washington Heights
17                Lower East Side
20             Northwest Brooklyn
23                Upper West Side